*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   background-color: black;

}
.section{
    width: 80%;
    height: 100%;
    display: flex;      
    justify-content: center;
    align-items: center;    
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin: auto;
}
.html{
    font-size: 90px;
    font-weight: 80px;
    padding-bottom: 20px;
    width: 100%;
    
}
.html h1{ 
    font-size: italic ;
    font-weight: 400;
    font-family: 'Quintessential', cursive;
}
.html p{
    padding-top: 20px;
    color: #cccccc;
    margin-bottom: 40px;
    font-size: 40%;
}
.all-button{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.button a{ 
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #f05a4f;
    margin-right: 100px;
    margin-bottom: 10px;
    border-radius: 20px;

}

    
.button-2 a{ 
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #333333;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #0f0f0f;
    margin-right:100px;
    margin-bottom: 10px;
    border-radius: 20px;
}
    
    


